{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}



<div class="mt-3 mx-5">
    <div id="alert-box"></div>
    
    <div class="card">
        <div class="card-body">
        {% include 'includes/navbar.html' %}
        
            <form action="" id="form-submit">
                {% csrf_token %}
                <label for="id_header">{% trans "Başlık" %}:</label>
                <input type="text" name="header" maxlength="50" placeholder="{% trans "Başlık" %}" class="form-control" required="" id="id_header">

                <label for="id_description">{% trans "Açıklama" %}:</label>
                <textarea name="description" cols="40" rows="4" maxlength="300" placeholder="{% trans "Açıklama" %}" class="form-control" required="" id="id_description"></textarea>

                <label for="id_link">{% trans "Link" %}:</label>
                <input type="text" name="link" maxlength="255" placeholder="{% trans "Link" %}" class="form-control" required="" id="id_link">

                <label for="id_email">{% trans "Email" %}:</label>
                <input type="email" name="email" maxlength="254" placeholder="{% trans "Email" %}" class="form-control" required="" id="id_email">

                <label for="id_header">{% trans "Resim" %}:</label>
                <input type="file" name="image" accept="image/*" class="form-control" id="id_image">

                <br>
                <div id="img-box"></div>
                <button type="submit" class="btn btn-primary">{% trans "Gönder" %}</button>
            </form>
            <div id="img-box"></div>
        </div>
    </div>
    

</div>


{% endblock content %}