{% load i18n %}
<div class="card" id="navbarSupportedContent">
  <div class="card-body">
    <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
    <a href="{% url 'search' %}">{% trans "Sorgula" %}</a>
    <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="{% trans "Sorgula" %}" name="q" aria-label="{% trans "Sorgula" %}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Sorgula" %}</button>
    </form>
    <span class="lang-bar">
      <a href="/tr">TR</a>
      <span>|</span>
      <a href="/en">EN</a>
    </span>
  </div>
</div>

    
    