/* .card{
    max-width: 500px;
    align-items: center;
} */
li{
    display: none;
}

input[type=search] {
    width: 1000px;
    -webkit-transition: width 0.9s ease-in-out;
    transition: width 0.9s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=search]:focus {
    width: 90%;
  }

.no-image{
  color: tomato;
  font-weight: 500;
}

.lang-bar{
  float: right;
}