li{
    display: none;
}

input[type=search] {
    -webkit-transition: width 0.9s ease;
    transition: width 0.9s ease;
  }
  
input[type=search]:focus {
  width: 80%;
}

.no-image{
  color: tomato;
  font-weight: 500;
}

.lang-bar{
  float: right;
}